<div class="container">
  <div style="padding: 5px; height:92vh; overflow: auto;">
    <div *ngFor="let message of messageList"
      style="background-color: white; overflow: auto; margin-bottom: 6px; height: max-content;" class="message-box">
      <li style="list-style: none; margin-bottom: 5px;" *ngIf="message">
        <span></span>
        <p style="padding: 10px; word-wrap: break-word; font-size: 22px; font-family: system-ui;">{{message}}</p>
      </li>
    </div>
  </div>
  <div style="background-color: #6082B6;
            position: fixed;
            bottom: 0;
            height: 70px;
            width: 100%;
            display: grid;
            padding: 10px;
            grid-template-columns: 4fr 1fr;
            gap: 1rem;
            margin-top: 10px;
            ">
    <input style="font-size: 16px;" #myInput placeholder="message..." [(ngModel)]="newMessage"
      (keyup)="$event.keyCode == 13 && sendMessage()">
    <button (click)="sendMessage()" [disabled]="!newMessage">Send</button>
  </div>
</div>